<html>
<head>
    <title>JP</title>
<style>
 
body{
    font-family: Lato, sans-serif;
    color: #bbbebe;
    background-color: #1e1e1e;
}

.presenter-box {
  text-align: center;
}

.avatar img {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
}

.social {
  display:inline-block;
}

.social img {
  width: 32;
  height: 32px;
  padding-right: 10px;
}
 
</style>
 
</head>
<body>
  <div class="content">
      <div class="presenter-box">
        <div class="avatar">
          <img src="{{url_for('static', filename='img/me.jpeg')}}" alt="" />
        </div>
        <p class="presenter-name">JP aka Mashuma</p>
        <div class="social">
            <a class="twitter" href="https://twitter.com/Janchotheone" rel="nofollow" target="_blank" title="Twitter" style="visibility: visible; animation-name: fadeIn;"><img src="{{url_for('static', filename='img/twitter-logo-1.png')}}"/></a>
            <a class="github" href="https://github.com/mashuma" rel="nofollow" target="_blank" title="Twitter" style="visibility: visible; animation-name: fadeIn;"><img src="{{url_for('static', filename='img/github-logo-1.png')}}"/></a>
        </div>  
      </div>
    </div>
</body>
</html>